VITE_API_URL=http://localhost:5002
VITE_API_URL_WEB=http://localhost:5002
VITE_API_URL_NATIVE=http://localhost:5002
VITE_REMOTE_API=http://localhost:5002
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/dspnmgzwh/image/upload
VITE_CLOUDINARY_UPLOAD_PRESET=project1
VITE_QR_API_URL=https://api.qrserver.com/v1/create-qr-code/