VITE_API_URL=https://api.medi-trap.com
VITE_API_URL_WEB=https://api.medi-trap.com
VITE_API_URL_NATIVE=https://api.medi-trap.com
VITE_REMOTE_API=https://api.medi-trap.com
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/dspnmgzwh/image/upload
VITE_CLOUDINARY_UPLOAD_PRESET=project1
VITE_QR_API_URL=https://api.qrserver.com/v1/create-qr-code/